a, a:visited
{
	color: #127b08;
}

a:hover
{
	color: #a0bd3b;
}

h1 a
{
	text-decoration: none;
}

body
{
	max-width: 640px;
	margin: 20px auto 10px auto;
	font-family: Arial, Calibri, sans-serif;
	font-size: 20px;
	background-color: #fafaf7;
	color: #0e1a17;
	line-height: 1.5;
}

h1,h2,h3
{
	line-height: 0.9;
	text-align: center;
	color: #006b0b;
	font-weight: bold;
}

h1
{
	font-size: 48px;
	margin-top: 66px;
	margin-bottom: 44px;
}

h2
{
	font-size: 28px;
	margin-top: 46px;
	margin-bottom: 30px;
}

h3
{
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}

hr
{
	margin-top: 24px;
	margin-bottom: 30px;
}

main
{
	margin-bottom: 40px;
}

.spoilerwarning
{
	font-size: 14px;
	color: #222b29;
}

img
{
	width: 100%;
}
