a
{
	text-decoration: none;
	font-weight: bold;
}

a, a:visited
{
	color: #57a1d6;
}

a:hover
{
	color: #b47ed0;
}

body
{
	font-family: Arial, Calibri, sans-serif;
	margin: 50px auto;
	max-width: 650px;
	line-height: 1.5;
	font-size: 20px;
	padding: 0 10px;
	background-color: #f4f4f4;
}

h1,h2,h3
{
	line-height:1.2
}

main
{
	padding-top: 70px;
}